.pokedex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
    list-style: none;
}

.pokedex-title {
    text-align: center;
    margin: 1rem;
}

.pokedex-winner-message {
    text-align: center;
    color: green;
}

.pokedex-loser-message {
    text-align: center;
    color: red;
}

.pokedex-experience {
    text-align: center;
}